body{
			
			background-size:100%;
			min-width: 1182px;
		}
		#outsidePage{
			background: url(../html/images/banner.jpg);
			position: relative;
			width: 100%;
			height: 670px;
			min-width: 1182px;
			
			/*background: rgba(100,149,237, 0.4);*/
		}
		.headPicture{
			position: relative;
			top:110px;
			width: 100%;
			height: 670px;
			/*background: coral;*/
			opacity: 1;
		}
		.headPicture img{
			height: 257px;
			width: 257px;
			margin:0 auto;
			opacity: 1;
			border: 7px solid #44c7f4;
			border-radius: 4px;
			display: block;
		}
		.headPicture h1{
			margin: 5px 5px;
			text-align: center;
			font-size: 3em;
			color: #fff;
			font-family:'Gidugu', sans-serif;
		}
		.headPicture span{
			text-align: center;
			display: block;
			text-transform: uppercase;
			color: #44c7f4;
		        letter-spacing: 4px;
		   	font-size: 0.9em;
		    	font-family: 'Open Sans', sans-serif;
		    	font-size: 14.4px;
		    	box-sizing: border-box;
		}
		#descriptUl{
			list-style: none;
			margin: 5px 5px;
		}
		#descriptUl li{
			text-align: center;
		    	text-transform: uppercase;
		    	color: #fff;
			letter-spacing: 7px;
		   	margin: 2px 0;
		    	font-size: 14px;
		    	font-family: 'Open Sans', sans-serif;
		    	font-weight: 700;
		}
		.fourImg{
			list-style: none;
			display: block;
			width: 500px;
			margin: 0 auto;
			position: relative;
		}
		.fourImg li{
			text-align: center;
			height: 40px;
			width: 40px;
			font-size: 19px;
			display:inline;
			margin-right: 30px;
			margin-left: 50px;
		}
		.fourImg li:first{
			margin-left: 35px;
		}
		.fourImg button{
			color: white;
			background: #23282C;
			font-family: "arial, helvetica, sans-serif";
			border-color: white;
			height: 35px;
			width: 35px;
		}
		.roundHolder{
			list-style: none;
			display: block;
			width: 500px;
			margin: 0 auto;
			position: relative
		}
		.roundHolder li{
			display:inline;
			text-align: center;
			height: 40px;
			width: 40px;
			font-size: 19px;
			margin:0px 30px 0px 30px
			
		}
		
		#littleImg,#toggleRound{
			position:relative;
			margin:25px 0px 25px 0px;
		}
		.whiteRound{
			color: white;
		}
		.midNav {
			width: 100%;
			background: #44c7f4;
			height: 80px;
		}
		.midNav h1{
			text-transform: uppercase;
			color: black;
			font-size: 40px;
		    color: #fff;
		    margin-left: 50px;
		    line-height: 80px;
		    letter-spacing: 1px;
		   
		}
		.personInformation{
			background: white;
			width: 100%;
			min-width: 1182px;
			margin-bottom: 20px;
		}
		.personInformation h1{
			
			text-align: center;
		}
		#infoTitle{
			margin-bottom: 20px;
		}
		#infoBody{
			padding-right: 15px;
		    padding-left: 15px;
		   margin: 0 100px;
		}
		.xixi{
			padding: 1em 0;
		    border-bottom: 1px dashed #44c7f4;
		    box-sizing:
		    border-box;
			color:
			rgb(51, 51, 51);
			display:block;
			font-family:"Open Sans", sans-serif;
			font-size:16px;
			height:82px;
			line-height:22.8571px;
			padding-bottom:16px;
			padding-left:0px;
			padding-right:0px;
			padding-top:16px;
			text-size-adjust:100%;
			margin-bottom: 32px;
		}
		.xixi h4{
		    color: #212121;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    font-family:Gidugu, sans-serif;
		    font-size:25.6px;
			font-weight:500;
			height:28px;
			letter-spacing:2px;
		}
		.skill-title h1{
		    color: #212121;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    font-family:Gidugu, sans-serif;
		    font-size:25.6px;
			font-weight:500;
			height:28px;
			letter-spacing:2px;
			text-align: center;
			color: #2f3032;
			font-size: 30px;
		}
		.skill-title{
			padding: 1em 0;
		    box-sizing:
		    border-box;
			color:
			rgb(51, 51, 51);
			display:block;
			font-family:"Open Sans", sans-serif;
			font-size:16px;
			height:82px;
			line-height:22.8571px;
			padding-bottom:16px;
			padding-left:0px;
			padding-right:0px;
			padding-top:16px;
			text-size-adjust:100%;
		}
		.skill-info .xixi h4{
			text-align: center;
			color: springgreen;
		}
		.skill-info .xixi p{
			text-align: center;
			color: #2f3032;
		}
		.skill-info .xixi{
			  border-bottom: none;
			  margin-bottom: 0px;
		}
		.xixi p{
			    color: #827e7e;
    			font-size: 0.95em;
    			letter-spacing: 1px;
    			font-family: 'Open Sans', sans-serif;
    			line-height: 1.42857143;
    			text-transform: uppercase;
    			margin: 15px 0;
		}
		.hobbit{
			
			background: url(../html/images/serve.jpg) no-repeat;
			background-size: 100%;
			min-width: 1182px;
		}
		.skill{
			background: url(../html/images/6.jpg);
			background-size: 100%;
			min-width: 1182px;
		}
		#hobitTitle{
			margin: 10px 0px 10px 0px;
		}
		#hobitTitle h1{
			text-align: center;
			color: white;
		}
		#skillTitle{
			margin: 10px 0px 10px 0px;
		}
		#skillTitle h1{
			text-align: center;
			color: #2f3032;
		}
		.hobbitCon{
			
			height: 300px;
			margin:0 100px ;
		}
		
		.makedown{
			margin-top: 20px;
		}
		.hobbit-img img{
			display:block;
			margin:0 auto;
		}
		.ib-left{
			display: inline-block;
			float: left;
			width: 45%;
		}
		.ib-right{
			display: inline-block;
			float: right;
			width: 45%;
		}
		.hobbit-img{
			display: inline-block;
			width: 33%;
		}
