.demo{
    width: 400px;
    height: 400px;
    /* display: inline-block; */
    background: gold;
    margin: 5px;
    text-align: center;
}
.zxx_test_btn{float:left; margin-right:1em; padding-bottom:0.5em;}
.zxx_test_btn li{width:160px; height:40px; position:relative; overflow:hidden;}
.zxx_test_btn li a:hover{border:0;}
.margin_pos_1 .just_a_flag{margin:-21px 0px 0px 0px;}/*事实上，调用png插件后，img标签处于display:none的状态，而被一个span标签所代替，而这个span标签的一些样式属性与img一致，所以这里的just_a_flag是需要的，因为标签类型换了，而class并没有改换。在IE6下，这里的效果其实等同于.margin_pos_1 span.just_a_flag或者是.margin_pos_1 span，但是考虑到兼容性，这里使用一个起标志作用的class是非…不可的*/
.margin_pos_1:hover .just_a_flag{margin:-21px 0px 0px 0px;}
.margin_pos_2 .just_a_flag{margin:-21px 0 0 -160px;;}
.margin_pos_2:hover .just_a_flag{margin:-21px 0 0 -160px;;}
.margin_pos_3 .just_a_flag{margin:-21px 0px 0px -320px;;}
.margin_pos_3:hover .just_a_flag{margin:-21px 0 0 -160px;;}
.margin_pos_4 .just_a_flag{margin:-21px 0 0 -479px;}
.margin_pos_4:hover .just_a_flag{margin:-21px 0 0 -160px;;}
.likeTh{
    display: inline-block;
    border: 1px solid #e4e4e4;
    width: 100px;
    height: 20px;
    margin-right: -1px;
    margin-left: -5px;
}
.demo-img{
   margin:0 3px -3px 0;
}