h3{
    text-align: center;
}
#test_box{
    max-width:640px; 
    _width:640px; 
    margin:1.2em auto; 
    list-style: none;
    padding:5em 0;
}
.fix{zoom:1;}
.fix:after,.fix:before{
    display:block; 
    content:"clear"; 
    height:0; 
    clear:both; 
    overflow:hidden; 
    visibility:hidden;
}
.imgList{width:20%; height:170px; float:left;}
.showImg_1{background:gray url(../../images/imgcommon2.jpg) no-repeat;}
.showImg_2{background:gray url(../../images/imgcommon3.jpg) no-repeat;}
.showImg_3{background:gray url(../../images/imgcommon1.jpg) no-repeat;}
.showImg_4{background:gray url(../../images/imgcommon4.jpg) no-repeat;}
.ul-container{
    width: 80%;
    padding-left: 108px;
    margin: 0 auto;
}

#zlf_box{
    max-width: 640px;
    padding: 5px;
    margin: 0 auto;
    list-style: none;
}
#zlf_box li{
    width: 20%;
    float: left;
    height: 170px;
}
.fix2:after,.fix2:before{
    display:block; 
    content:"clear"; 
    height:0; 
    clear:both; 
    overflow:hidden; 
    visibility:hidden;
}