.zxx_image_list {
    display: inline-block;
    width: 1.2em;
    margin-top: 20px;
    text-align: center;
    font-size: 128px;
    vertical-align: middle;
}

.zxx_image_list img.zxx_image {
    padding: 3px;
    width: 1.2em;
    height: 0.72em;
    border: 1px solid #828da1;
    background: white;
    vertical-align: middle;
    position: relative;
}

.zxx_image_list:hover,
.zxx_image_list:hover .zxx_image {
    border-color: #ff3300;
}

.img-container {
    padding-right: 252px;
    padding-left: 250px;
}

.finishedInfo {
    text-align: center;
    display: none;
}
.title{
    display: block;
    margin: 10px 0px;
    text-align: center;
}