.ml20{
    margin: 0 auto;
    display: inline-block;
}
.sharp_square{
    width: 333px;
    height: 110px;
    background: #a0b3d6;
    position: relative;
    color: #a0b3d6;
}
.sharp_top_corner{
    line-height: 1;
    position: absolute;
    font-size: 34px;
    top: 32px;
    /* right: 80px; */
    left: -17px;
}
.sharp_square .quarter_round {
    position: absolute;
}
.quarter_round{
    display:inline-block; 
    width:8px; 
    height:8px; 
    overflow:hidden; 
    font-family:'宋体';
}
.quarter_round span{
    display:inline-block; 
    font-size:16px; 
    line-height:1;
}
.sharp_square .round_lt {
    left: -1px;
    top: -1px;
}
.sharp_square .round_rt {
    right: -1px;
    top: -1px;
}
.sharp_square .round_lb {
    left: -1px;
    bottom: 0px;
}
.sharp_square .round_rb {
    right: -1px;
    bottom: 0px;
}
.content_square{
    color: #fff;
    padding: 20px;
    font-size: 14px;
}
.sharp_square .quarter_round span {
    background: white;
}
.quarter_round .lt{}
.quarter_round .rt{margin-left:-7px;}
.quarter_round .lb{
    position: absolute;
    left: 0px;
    top: -6px;
}
.quarter_round .rb{
    position: absolute;
    /* left: 0px; */
    top: -5px;
    right: -1px;
}
.square_out_border {
    width: 472px;
    border: 1px solid #dadada;
    background: #f8f8f8;
    position: relative;
    color: #dadada;
}
.square_inner_border {
    border: 1px solid #ffffff;
    padding: 20px;
    font-size: 14px;
    color: #333333;
}
.square_top_corner{
    line-height: 1;
    height: 15px;
    font-size: 30px;
    position: absolute;
    top: -15.99px;
    right: 80px;
}
.square_top_corner2 {
    line-height: 1;
    font-size: 30px;
    color: #f8f8f8;
    position: absolute;
    top: 2px;
    right: 0;
}
.square_out_border .round_lt {
    left: -3px;
    top: -3px;
}

.square_out_border .quarter_round {
    position: absolute;
    z-index: 1;
}

.quarter_round {
    display: inline-block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    font-family: '宋体';
}
.square_out_border .quarter_round span {
    background: #f8f8f8;
}

.quarter_round .lt {
}
 
.quarter_round span {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}
.square_out_border .round_lb {
    left: -3px;
    bottom: -1px;
}
.square_out_border .round_rb {
    right: -2px;
    bottom: -1px;
}
.square_out_border .round_rt {
    right: -2px;
    top: -4px;
}
.square_out_border .round_lt2 {
    left: -2px;
    top: -2px;
}
 
.square_out_border .quarter_round2 {
    color: #f8f8f8;
    z-index: 2;
}
.square_out_border .round_rt2 {
    right: -1px;
    top: -3px;
}
 
.square_out_border .quarter_round2 {
    color: #f8f8f8;
    z-index: 2;
}
.square_out_border .round_lb2 {
    left: -2px;
    bottom: 0px;
}

.square_out_border .quarter_round2 {
    color: #f8f8f8;
    z-index: 2;
}
.square_out_border .round_rb2 {
    right: -1px;
    bottom: 0px;
}

.square_out_border .quarter_round2 {
    color: #f8f8f8;
    z-index: 2;
}
.square_out_border .quarter_round2 span {
    background: none;
}
.method4{
    float: left;
}
.con1{
    float: left;
}
.method3{
    margin: 0 auto;
}
.method3 .zxx_ul_image{
    display: inline-block;
    margin-left: 100px;
}
.tc-btn{
    display: block;
    line-height: 45px;
    margin: 0 auto;
    width: 218px;
    height: 47px;
    border: 1px solid #2277da;
    color: #2277da;
    padding: 0;
    font-size: 16px;
    border-radius: 2px;
    box-sizing: border-box;
    min-width: 24px;
    text-align: center;
    transition: .2s ease background;
    background-color: rgba(237,113,31,0);
    /* background: #0071ce; */
}
.tc-btn:hover{
    background: #0071ce;
    color: white;
    text-decoration: none;
}
.tc-btn{
    -webkit-tap-highlight-color: transparent;
}
.tc-btn{
    text-decoration: none;
}
.zxx_ul_image{overflow:hidden; zoom:1;}
.zxx_ul_image li{
    float:left; 
    width:150px; 
    height:150px; 
    text-align:center; 
    line-height:150px; 
    padding: 5px;
    *font-size:125px;
}
.zxx_ul_image li:after{content:' '; vertical-align:middle;}
.zxx_ul_image li img{
    vertical-align:middle;
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}